<meta charset="utf-8">

<title>{% block title %}{{ meta.seo_headline }}{% endblock title %}</title>

<meta name="description" content="{% block description %}{{ meta.seo_description }}{% endblock description %}">

{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock viewport %}

{% block favicons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/meta/favicon.ico' %}">
<link rel="icon" type="image/png" href="{% static '/assets/meta/favicon.ico' %}">
<link rel="icon" type="image/png" href="{% static '/assets/meta/favicon.ico' %}">
{% endblock favicons %}

{% block canonical_url %}<link rel="canonical" href="{{ current_page.absolute_url }}">{% endblock canonical_url %}

{% block opengraph %}
<meta property="og:title" content="{{ meta.social_headline }}">
<meta property="og:description" content="{{ meta.social_description }}">
<meta property="og:url" content="{{ current_page.absolute_url }}">
<meta property="og:image" content="{% staticabsolute meta.social_image %}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="">
<meta property="og:locale" content="en_US">
{% endblock opengraph %}


{% block twitter %}
<meta property="twitter:title" content="{{ meta.social_headline }}">
<meta property="twitter:description" content="{{ meta.social_description }}">
<meta property="twitter:url" content="{{ current_page.absolute_url }}">
<meta property="twitter:image" content="{% staticabsolute meta.social_image %}">
<meta property="twitter:site" content="@caseymmiller">
<meta property="twitter:card" content="summary_large_image">
{% endblock twitter %}
