<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock lang %}">
<head>
  {% block meta -%}
  {% include 'includes/meta.html' %}
  {% endblock meta -%}

  {% block styles %}
  <link rel="stylesheet" href="{% static 'styles/main.scss' %}">
  {% endblock styles %}

  {% block extra_styles %}{% endblock extra_styles %}

  {% block scripts -%}
  {% script 'app' %}
  {% endblock scripts -%}

  {% block extra_scripts %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35670323-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-35670323-5');
  </script>

  {% endblock extra_scripts %}
</head>
<body>

  {% block content %}{% endblock content %}

  <footer role="contentinfo"></footer>
</body>
</html>
