@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f3f7fc;
  color: #391bfe;
}

h1 {
  font-weight: 700;
}

img {
  width: 100%;
}
img.small-map {
  display: none;
}
@media (max-width: 500px) {
  img.small-map {
    display: block;
  }
}
@media (max-width: 500px) {
  img.large-map {
    display: none;
  }
}

.route-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.route-block .display-date {
  font-weight: 500;
}
@media (max-width: 500px) {
  .route-block .display-date {
    margin-top: 2px;
    font-size: 14px;
  }
}
.route-block .route {
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 10px;
}
@media (max-width: 500px) {
  .route-block .route {
    max-width: 150px;
  }
}
.route-block .desc {
  margin-top: 5px;
  font-size: 12px;
}
.route-block .desc .flag-yes {
  background-color: #9bf3d2;
}